.main-text {
    padding: 0 130px 0 130px;
}

.main-text-number {
    width: 1em;
    color: #FF5D5D;
    vertical-align:top
}

.header-text {
    width: 100%;
    text-align: center;
    color: #FF5D5D;
}