.p{
    font-family: 'Noto Sans'
}
.main-text {
    overflow-y: scroll;
    height: 400px;
    padding: 0 230px 0 230px;
    list-style: none;
    counter-reset: order;
}

.main-text > li::before {
    content: counter(order);
    font-size: 30px;
    color: #FF5D5D;
    counter-increment: order;
    margin-left: -1em;
    margin-right: 0.5em;
    text-align: right;
    direction: rtl;
}

.header-text {
    width: 100%;
    font-size: 40px;
    padding: 0 230px 0 230px;
    color: #FF5D5D;
}