.main-text-container {
    height: 100%;
    overflow-y: scroll;
}

.main-text-container::-webkit-scrollbar {
    background-color: transparent;
}

.main-text {
    padding: 0 130px 0 130px;
}

.main-text-number {
    width: 1em;
    color: #FF5D5D;
    vertical-align:top;
    font-family: 'Noto Sans';
}

.header-text {
    width: 100%;
    font-size: 40px;
    text-align: left;
    color: #FF5D5D;
    font-family: 'Noto Sans';
    padding: 0 130px 0 130px;
}